<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EazesportzBroadcast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EazesportzHighlights.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B0BEC9518C817CB0040DB41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B0BECB218C817CC0040DB41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B24D01C18C6E95700584B38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B24D04018C6E95700584B38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
